on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - env:
          NIXPKGS_ALLOW_UNFREE: 1
        run: |
          nix flake check --impure --all-systems
