name: Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Check flake and packages
        env:
          NIXPKGS_ALLOW_UNFREE: 1
        run: |
          nix flake check --impure

      - name: Check format
        run: |
          nix develop .#ci-check-format -c bash -c 'pre-commit run --all-files'
