name: Update Vim plugins

on:
  schedule:
    - cron: "3 17 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.M15A_GITHUB_PAT }}
      - uses: cachix/install-nix-action@v26
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Update Vim plugins
        env:
          GITHUB_TOKEN: ${{ secrets.M15A_GITHUB_PAT }}
          SOURCEHUT_TOKEN: ${{ secrets.M15A_SOURCEHUT_PAT }}
        run: |
          nix develop .#ci-update -c bash -c ./tools/update.fnl

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'data/*.json README.md'
          commit_message: "auto: update vim plugins"
